.header {
  &__wrapper {
    padding-top: 33px;
    display: flex;
  }

  &__logo {
    display: block;
    margin-right: 87px;
    margin-top: 3px;
    min-width: 91px;

    svg {
      fill: none;
    }
  }
}

.main-nav {
  width: 100%;

  &__wrapper {
    @include viewport--md {
      overflow: hidden;

      position: fixed;
      top: 100px;
      bottom: 100%;
      right: 0;
      left: 0;

      background-color: $color-default-white;

      transition: bottom $default-transition-settings;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    transition: opacity $default-transition-settings;

    &:hover {
      opacity: 0.8;
    }
  }

  &__toggle {
    display: none;
    align-items: center;
    width: 25px;
    height: 25px;
    outline: 0;

    @include viewport--md {
      display: flex;
    }
  }
}
