.moto {
  width: 50%;
  padding-top: 89px;
  padding-left: 84px;

  @include viewport--md {
    padding-left: 0;
  }

  @include viewport--sm {
    width: 100%;
  }

  &__header {
    margin: 0;
    margin-bottom: 20px;

    @include font-scale(50);
    line-height: 124%;
    font-weight: normal;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
  }
}

.main {
  margin-top: -63px;
  background-image: url("../img/content/top-bg@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
}
